* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #0e90ad;
    color: #fff;
    padding: 10px;
    text-align: center;
}

main {
    padding: 15px;
}

/* City search form */
form {
    display: flex;
    flex-direction: column;
}

input {
    line-height: 2;
}

.btn {
    background-color: #0e90ad;
    color: #fff;
    margin: 5px 0 5px 0;
}

/* Search history */
.history-btn {
    background-color: #d4d4d4;
    color: #000;
    margin: 5px 0 5px 0;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
    border-style: none;
}

.history-btn:hover {
    background-color: #0e90ad;
    color: #fff;
}

/* Current weather section */
.outline {
    padding: 5px;
    border: 1px solid #000;
    margin-bottom: 15px;
}

.uv-low {
    background-color: #008000;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
}

.uv-moderate {
    background-color: #FCE300;
    color: #000;
    padding: 5px;
    border-radius: 5px;
}

.uv-high {
    background-color: #FF8200;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
}

.uv-very-high {
    background-color: #ED2E38;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
}

.uv-extreme {
    background-color: #9063CD;    
    color: #fff;
    padding: 5px;
    border-radius: 5px;
}

/* 5-day forecast */
.daily {
    background-color: #2F6C7A;
    color: #fff;
    margin: 2px 10px 10px 10px;
    padding-top: 10px;
}